.section {
	@apply mb-12;

	@media (max-width: 520px) {
		@apply mb-0;
	}
}
.heading {
	@apply text-4lg font-alumni font-semibold mb-3;
	color: #252525;

	@media (max-width: 520px) {
		@apply mb-1;
		font-size: 34px;
	}
}
.description {
	@apply text-md leading-lg;
	color: #565656;

	@media (max-width: 520px) {
		font-size: 13px;
	}
}
