.loader {
	@apply w-full h-full fixed z-10 top-0 bottom-0 left-0 right-0 flex items-center justify-center bg-white;
}
.logo {
	@apply text-4lg font-bold whitespace-nowrap mb-2;
	line-height: 40px;
	letter-spacing: 2px;
	@media (max-width: 1020px) {
		font-size: 30px;
	}
	@media (max-width: 980px) {
		@apply text-4lg;
	}
}
.bar {
	@apply w-full h-10 rounded-full;
	max-width: 208px;
	padding: 5px;
	background-color: #212121;
	box-shadow: #0c0c0c -2px 2px 4px 0px inset;
}
.slider {
	@apply animate-loading relative h-full flex items-center overflow-hidden;
	width: 30px;
	gap: 18px;
	border-radius: inherit;
	background-color: rgb(222, 74, 15);
	background: linear-gradient(
		0deg,
		rgba(222, 74, 15, 1) 0%,
		rgba(249, 199, 79, 1) 100%
	);
}
.line {
	@apply min-w-2.5 h-11 opacity-30 rotate-45;
	background-color: #fff;
	background: linear-gradient(
		-45deg,
		rgba(255, 255, 255, 1) 0%,
		rgba(255, 255, 255, 0) 70%
	);
}
