.box {
	@apply relative;
}
.input {
	@apply w-full h-full;
}
.addresses {
	@apply absolute left-0 right-0 bg-white shadow overflow-y-auto py-1 mt-2;
	max-height: 300px;
	box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
	border-radius: 4px;
}
.address {
	@apply py-2 px-3 cursor-pointer;

	&:hover {
		background-color: #deebff;
	}
}
