.overlay {
	@apply animate-fade w-full h-full fixed top-0 bottom-0 left-0 right-0 z-2 flex items-center justify-center;
	padding: 25px;
	background-color: rgba(0, 0, 0, 0.5);
}
.modal {
	@apply w-full max-h-full bg-white overflow-auto;
	border-radius: 5px;
}
.head {
	@apply flex items-center justify-between gap-8;

	@media (max-width: 520px) {
		@apply gap-3.5;
	}
}
.heading {
	@apply text-3lg font-bold text-ellipsis;
	@media (max-width: 520px) {
		font-size: 18px;
	}
	@media (max-width: 450px) {
		@apply whitespace-normal;
	}
}
.close {
	@apply ml-auto;

	> svg {
		@apply w-6 h-6 transition-colors;
		stroke: #a9aeb6;
	}

	&:hover > svg {
		stroke: #000;
	}
}
