.form {
	@apply pt-5 flex flex-col gap-5;

	@media (max-width: 520px) {
		font-size: 14px;
	}
}
.input {
	@apply h-12 px-4 border;
	border-color: #c3c3c3;
	border-radius: 5px;
}
.upload,
.drag {
	width: 200px;
	height: 200px;
}
.file > img {
	border-radius: 10px;
}
.submit {
	@apply h-11 mt-5 font-medium mx-auto flex items-center justify-center btn-orange;
	min-width: 150px;
	border-radius: 5px;

	@media (max-width: 450px) {
		@apply mt-0;
	}
}
.loader {
	@apply w-5 h-5 border-2;
	border-color: #282832;
	border-left-color: #fff;
}