.toaster {
	font-size: 13px;

	> div > div {
		max-width: 400px;
	}
}
.error {
	line-height: 1.6 !important;
	background-color: #f31559 !important;
	color: #fff !important;
}
.success {
	line-height: 1.6 !important;
	background-color: #2ee89a !important;
	color: #fff !important;
}
